.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# more data files
*.zip
*.tsv
*.png
*.jpg
*.pdf
*.Rdata
*.nc
*.svg
*.docx
*.html
data/


# working script
old_scripts/
*.docx

# rendered outputs
python-correlation_files/
*.log
*.tex
*.bib
*.csl
